fastapi
uvicorn[standard]
websockets
python-dotenv
groq
google-genai
gTTS
SpeechRecognition
pyttsx3
pyautogui
Pillow
psutil
requests
beautifulsoup4
apscheduler
dateparser
aiofiles
aiohttp
opencv-python-headless
face_recognition
ultralytics
duckduckgo_search
fake-useragent
httpx[http2]
readability-lxml
lxml_html_clean
newspaper3k
speedtest-cli
GPUtil
python-multipart
chromadb
sentence-transformers
python-telegram-bot
redis
