fastapi
uvicorn[standard]
websockets
python-dotenv
groq
google-genai
gTTS
SpeechRecognition
pyttsx3
pyautogui
Pillow
psutil
requests
beautifulsoup4
apscheduler
dateparser
aiofiles
aiohttp
duckduckgo_search
fake-useragent
httpx[http2]
python-multipart
python-telegram-bot
redis
speedtest-cli
GPUtil
